*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1E3E59;
}
h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 2.8rem;
    color: #fff;
    margin-bottom: 20px;
}
.quizBoardSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
form{
    background-color:#808080 ;
    width: 90%;
    height: 400px;
    border-radius: 8px;
    margin-top: 20px;
    
}

@media only screen and (max-width:768px){
   
}