*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:425px){
    body{
        background-color: #1E3E59;
    }
    h1{
        color: #ffff;
        font-family: 'Bangers', cursive;
        width: 60%;
        text-align: center;
        font-size: 3rem;
    }
    #proceedBtn{
        background-color: #EE1F1F;
        color: #ffffff;
        font-family: 'Koulen', cursive;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        min-width: 50%;
        font-size: 2rem;
        border: 1px solid white;
    }
    #homePage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        align-items: center;
    }
}